[Unit]
Description=Grow Root Filesystem
DefaultDependencies=false

# Go between disks being partitioned and any file or mounting
# activity.
After=ignition-disks.service
Before=ignition-mount.service
Requires=systemd-udevd.service

# Go after devices are enumerating
After=systemd-udevd.service

# Don't get stuck in a loop if things go sideways
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
MountFlags=slave
ExecStart=/usr/sbin/deploy-ock

